//Colors
$default-color: white;
$tomato: tomato;
$limegreen: limegreen;
$lawngreen: lawngreen;
$beige: beige;
//Dimensions
//Width
$full-width: 100%;
$half-width: 100%/2;
$third-width: 100%/3;
$quarter-width: 100%/4;
//Height
$full-height :100vh;
$half-height :100vh/2;
$third-height: 100vh/3;
$quarter-height: 100vh/4;
//Nav Height
$navHeight: 4rem;