/* line 1, ../sass/partials/_base.scss */
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 9, ../sass/partials/_base.scss */
body {
  background-color: white !important;
}

/* line 40, ../sass/partials/_base.scss */
.profileInfo .opt {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
/* line 43, ../sass/partials/_base.scss */
.profileInfo .opt:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: tomato;
}

/* line 49, ../sass/partials/_base.scss */
.fullPage {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: white !important;
}

/* line 56, ../sass/partials/_base.scss */
.fullPage .dashBoardContent .dataSummary .dataCard, .fullPage .dashBoardContent .dataSummary .upperSect .infoIcon .icon, .dashPane .patientList .patientCard .textArea, .patientCard2 .innerLining .valign-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 67, ../sass/partials/_base.scss */
.fullPage .sideNav .page-wrapper, .fullPage .sideNav .page-wrapper .logoHolder, .patientCard2 .imageHolder {
  margin: 0 auto;
}

/* line 71, ../sass/partials/_base.scss */
.fullPage .dashBoardContent .dashNav {
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color: black !important;
  z-index: 1;
}

/* line 77, ../sass/partials/_base.scss */
.fullPage .dashBoardContent .dashNav {
  position: fixed;
}

/* line 87, ../sass/partials/_base.scss */
.fullPage .sideNav .opt .row:hover, .dashPane .patientList .patientCard, .patientCard2 .imageHolder {
  -moz-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

/* line 91, ../sass/partials/_base.scss */
.fullPage .dashBoardContent .dataSummary .dataCard .innerCard, .fullPage .dashBoardContent .dataSummary .upperSect .infoIcon .icon, .patientCard2 .innerLining {
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* line 14, ../sass/styles.scss */
.fullPage .page-wrapper {
  width: 100%;
  height: 100%;
}
/* line 17, ../sass/styles.scss */
.fullPage .sideNav {
  padding-top: 2rem;
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #36D1DC !important;
}
/* line 22, ../sass/styles.scss */
.fullPage .sideNav::after {
  content: '';
  top: 0;
  right: 0;
  z-index: 9;
  position: absolute;
  width: 5%;
  height: 100vh;
  -moz-box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.3);
  -webkit-box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.3);
}
/* line 30, ../sass/styles.scss */
.fullPage .sideNav .page-wrapper {
  width: 80%;
}
/* line 33, ../sass/styles.scss */
.fullPage .sideNav .page-wrapper .logoHolder {
  width: 5rem;
  height: 5rem;
}
/* line 37, ../sass/styles.scss */
.fullPage .sideNav .page-wrapper .divider {
  margin: 2rem 0 !important;
}
/* line 42, ../sass/styles.scss */
.fullPage .sideNav .logoHolder img {
  width: inherit;
  height: auto;
}
/* line 46, ../sass/styles.scss */
.fullPage .sideNav .navOptions-vertical {
  text-align: center;
}
/* line 48, ../sass/styles.scss */
.fullPage .sideNav .navOptions-vertical .iconText {
  text-align: left;
}
/* line 52, ../sass/styles.scss */
.fullPage .sideNav .opt {
  color: white;
  margin: 2rem 0;
  font-size: 110%;
}
/* line 56, ../sass/styles.scss */
.fullPage .sideNav .opt .row {
  transition: all 0.2s ease-in-out;
}
/* line 58, ../sass/styles.scss */
.fullPage .sideNav .opt .row:hover {
  padding: 0.5rem;
  color: #36D1DC;
  background-color: white !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
/* line 70, ../sass/styles.scss */
.fullPage .dashBoardContent {
  width: 80%;
  height: 100vh;
  background-color: white !important;
  float: left;
  padding: 6rem 2rem 2rem 2rem;
  overflow-y: auto;
}
/* line 77, ../sass/styles.scss */
.fullPage .dashBoardContent .dashNav {
  background-color: #36D1DC !important;
  padding: 0 2rem;
  width: 80%;
  right: 0;
  top: 0;
}
/* line 86, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .dataCard {
  height: 22.22222vh;
  padding: 1rem;
}
/* line 90, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .dataCard .innerCard {
  width: 100%;
  height: 100%;
  background-color: white !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0 1rem;
}
/* line 98, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .upperSect {
  height: 70%;
  margin: 0 !important;
}
/* line 101, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .upperSect .infoIcon {
  height: 100%;
}
/* line 103, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .upperSect .infoIcon .icon {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #36D1DC !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 1.5rem;
  left: 0;
  font-size: 150%;
  color: white;
}
/* line 115, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .upperSect .infoText {
  text-align: right;
}
/* line 117, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .upperSect .infoText * {
  margin: 0 !important;
}
/* line 122, ../sass/styles.scss */
.fullPage .dashBoardContent .dataSummary .lowerSect {
  height: 30%;
  margin: 0 !important;
}

/* line 130, ../sass/styles.scss */
#searchKey {
  border-bottom: 1px solid white;
}

/* line 134, ../sass/styles.scss */
.profileInfo {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  background-color: #36D1DC !important;
  left: 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 140, ../sass/styles.scss */
.profileInfo .main {
  margin: 0 !important;
}
/* line 143, ../sass/styles.scss */
.profileInfo .opt {
  min-width: 100px !important;
}
/* line 146, ../sass/styles.scss */
.profileInfo .opt:hover {
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  color: white;
}
/* line 150, ../sass/styles.scss */
.profileInfo .opt .row {
  margin: 0 !important;
}

/* line 157, ../sass/styles.scss */
.profile:hover {
  cursor: pointer;
}

/* line 164, ../sass/styles.scss */
.dashPane .patients {
  display: none;
  min-height: 20rem;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 172, ../sass/styles.scss */
.dashPane .patientList .patientCard {
  width: 25%;
  height: 4rem;
  background-color: white !important;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 178, ../sass/styles.scss */
.dashPane .patientList .patientCard .imageHolder {
  float: left;
  width: 4rem;
  height: 4rem;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
}
/* line 183, ../sass/styles.scss */
.dashPane .patientList .patientCard .imageHolder img {
  width: inherit;
  height: inherit;
}
/* line 187, ../sass/styles.scss */
.dashPane .patientList .patientCard .textArea {
  -webkit-flex-direction: column;
  flex-direction: column;
  float: left;
  width: 70%;
  height: inherit;
}
/* line 193, ../sass/styles.scss */
.dashPane .patientList .patientCard .textArea .icons p {
  display: inline-block;
}
/* line 195, ../sass/styles.scss */
.dashPane .patientList .patientCard .textArea .icons p i {
  margin: auto 0.5rem;
}

/* line 205, ../sass/styles.scss */
.patientCard2 {
  height: 20rem;
  margin-bottom: 5rem;
}
/* line 209, ../sass/styles.scss */
.patientCard2 .innerLining {
  background-color: lightgray !important;
  height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 214, ../sass/styles.scss */
.patientCard2 .innerLining .valign-wrapper {
  height: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 220, ../sass/styles.scss */
.patientCard2 .imageHolder {
  width: 5rem;
  height: 5rem;
  background-color: beige !important;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
}
/* line 228, ../sass/styles.scss */
.patientCard2 .imageHolder img {
  width: inherit;
  height: inherit;
}
/* line 233, ../sass/styles.scss */
.patientCard2 .icons p {
  display: inline-block;
}
/* line 235, ../sass/styles.scss */
.patientCard2 .icons p i {
  margin: auto 0.5rem;
}

/* line 242, ../sass/styles.scss */
#addPatientBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: limegreen !important;
}

/* line 247, ../sass/styles.scss */
#patientAddMod {
  width: 50%;
  height: 80vh;
}

/* line 251, ../sass/styles.scss */
#viewPatientMod {
  max-height: 100vh;
  width: 83.33333%;
  height: 83.33333vh;
}

/* line 256, ../sass/styles.scss */
#dataGraph {
  height: 70vh;
}
/* line 258, ../sass/styles.scss */
#dataGraph #leukiGraph {
  width: 100%;
  height: inherit;
}
